body {
    background: rgb(134, 227, 176);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;

#all-contents {
    max-width: 750px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(22, 135, 82);
    margin: 0 auto;
    display: flex;
    padding: 20px;
    border: 5px rgb(10, 105, 67) ridge;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(16, 15, 15);
    flex: 1;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration-skip: ;
    color: #171616;
}

/* main container area beneath menu */
main {
    background: rgb(81, 173, 130);
    display: flex;
    margin-top: 20px;
    border: 5px rgb(10, 105, 67) ridge;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 350px;
    border: 5px rgb(10, 105, 67) ridge;
}

.content {
    flex: 1;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
}

/* interests section styles */
#interests {
   border: 5px rgb(10, 105, 67) ridge;
    padding: 9px;
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
}

h2, h3 {
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}
/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: rgb(81, 173, 130);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 5px rgb(10, 105, 67) ridge;
}

#portfolio li:hover {
  background: rgb(129, 222, 178);
}

#portfolio a {
  text-decoration: none;
  color: #121212;
}